<nav class="social-menu-list clearfix">
    <a class="item">
        <i class="fa fa-x fa-facebook icon"></i>
        Facebook
    </a>
    <a class="item">
        <i class="fa fa-x fa-twitter icon"></i>
        Twitter
    </a>
    <a  class="item">
        <i class="fa fa-x fa-google-plus icon"></i>
        Google +
    </a>
    <a  class="item">
        <i class="fa fa-x fa-rss icon"></i>
        Rss Feeds
    </a>
    <a  class="item">
       <i class="fa fa-x fa-pinterest icon"></i>
       Pinterest
    </a>
</nav>    

