<div class="tabs-wrapper clearfix">

  <input id="tab1" class="tab" type="radio" name="tabs" />
  <label for="tab1" class="item-descr">About</label>


  <input id="tab2" class="tab" type="radio" name="tabs" checked/>
  <label for="tab2" class="item-descr">Team</label>

  <input id="tab3" class="tab" type="radio" name="tabs" />
  <label for="tab3" class="item-descr">Privacy</label>


   <input id="tab4" class="tab" type="radio" name="tabs" />
   <label for="tab4" class="item-descr">Advertise</label>

   <input id="tab5" class="tab" type="radio" name="tabs" />
   <label for="tab5" class="item-descr">Contact</label>

    <div class="tabs-content-wrapper clearfix">
         <div id="content1" class="content clearfix" ng-model="content1">
               content1
         </div>
         <div id="content2" class="content clearfix" ng-model="content2">                        
            <section class="post-section">
                <div class="profile">
                    <div class="picture-wrapper">

                    </div>
                    <div class="name-wrapper">
                        <p class="name">Anne Hathaway</p>
                        <p class="position">CEO/Founder</p>
                    </div> 
                    <p class="description">
                        "Lorem Ipsum is simply dummy text
                        of the printing and typesetting
                        industry. Lorem Ipsum has ..."
                    </p>  
                    <p class="email"> 
                        @annehataway
                    </p>
                </div>
            </section>    
            <section class="post-section">
                  <div class="profile">
                    <div class="picture-wrapper">

                    </div>
                    <div class="name-wrapper">
                         <p class="name">Kate Upton</p>
                         <p class="position">Co-Founder</p>
                    </div>    
                    <p class="description">
                        Lorem Ipsum is simply dummy text
                        of the printing and typesetting
                        industry. Lorem Ipsum has ...
                    </p>    
                    <p class="email"> 
                       @kateupton
                    </p>
                </div>
            </section>  
        </div>
         <div id="content3" class="content clearfix" ng-model="content3">
            content3
        </div>
        <div id="content4" class="content clearfix" ng-model="content4">
            content4
        </div>
        <div id="content5" class="content clearfix" ng-model="content5">
            content5
        </div>
    </div>    
</div>    

