<div class="simple-post-wrapper">
    <section class="article-wrapper left-post-section">
        <div class="icon-wrapper">
            <i class="fa fa-x fa-camera icon"></i>
        </div>    
        <article class="article-item">
            <h2 class="title">
                Here's What <br />
                Instagram Ads Will <br />
                Look Like
            </h2>
            <p class="timer">3 hours ago</p>
            <p class="article-text">
                Lorem Ipsum is simply dummy 
                text of the printing and typesetting
                industry.... <a href="#" class="read-more">Read more</a>                             
            </p>
        </article>    
    </section>                

    <section class="right-post-section">

    </section>    
</div>    


