<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container" ng-controller="menuVerticalListController">
    <nav id="verticalMenu" class="vertical-menu">        
        <a class="item" ng-repeat="menuItem in menuItems" href="{{menuItem.url}}">
            <i class="fa fa-2x fa-home"></i>
            <span class="item-descr">{{menuItem.label}}</span>
        </a>
        
       <!-- <a class="item" href="#">
            <i class="fa fa-2x fa-shopping-cart"></i>
            <span class="item-descr">Store</span>
        </a>
        <a class="item" href="#">
            <i class="fa fa-2x fa-pencil-square-o"></i>
            <span class="item-descr">Blog</span>
        </a>
        <a class="item" href="#">
            <i class="fa fa-2x fa-users"></i>
            <span class="item-descr">Community</span>
        </a>
        <a class="item" href="#">
            <i class="fa fa-2x fa-glass"></i>
            <span class="item-descr">Contests</span>
        </a>
        <a class="item" href="#">
            <i class="fa fa-2x fa-info-circle"></i>
            <span class="item-descr">About</span>
        </a>
        <a class="item" href="#">
            <i class="fa fa-2x fa-envelope-o"></i>
            <span class="item-descr">Contact</span>
        </a> -->
       
    </nav>    
</div>
    