<ul id="horizontalMenuRight" class="horizontal-menu-right">
        <li class="item">
           <span class="search-wrapper">
               <i class="fa fa-x fa-search icon" id="searchIcon"></i> 
               <input type="text" placeholder="Cauta ... " class="search-text" id="searchText" maxlength="10" />  
               <input type="button" value="Cauta" class="submit-search hide" id="submitSearch" />
           </span>                        
        </li>
        <li class="item">
            <a href="#" class="item-descr">
                <i class="fa fa-x fa-facebook icon social"></i>
            </a>
        </li>
        <li class="item">
            <a href="#" class="item-descr">
                <i class="fa fa-x fa-twitter icon social"></i>
            </a>
        </li>
        <li class="item">
            <a href="#" class="item-descr">
                <i class="fa fa-x fa-google-plus icon social"></i>
            </a>
        </li>
        <li class="item">
            <a href="#" class="item-descr">
                <i class="fa fa-x fa-user icon"></i>
            </a>
        </li>                    
</ul> 

<!-- SEARCH RESULTS -->
 <div class="search-results hide">                          
      <ul class="search-results-list clearfix"> 

      </ul>    
 </div>
<!-- END SEARCH RESULTS -->   