<!-- SEARCH RESULTS -->
 <div class="search-results hide">            
     <ul class="search-results-list clearfix"> 
         <li ng-repeat="searchItem in searchListOptions" class="list-item clearfix">
             <!--<img src="{{searchItem.image}}"  class="image-section" />-->
             
             <!--<span class='list-item-content'>{{searchItem.description.text}}</span><span class='info' >{{searchItem.info}}</span>-->
             <span class='list-item-content'>{{searchItem.label}}</span>
          </li>
      </ul>    
 </div>
<!-- END SEARCH RESULTS -->  