<!-- SEARCH RESULTS -->
 <div class="search-results hide" ng-class="{'hide':searchListDisplayed === false}">            
    <ul class="search-results-list clearfix">         
         <li ng-repeat="searchItem in searchMenuItems track by $index" class="list-item clearfix">
               <img src="{{searchItem.image}}"  class="image-section" />
               <span class='list-item-content'>{{searchItem.description.text}}</span><span class='info' ></span>             
          </li>
      </ul>    
 </div>
<!-- END SEARCH RESULTS -->  