<!--


            listOptions += "<li class='list-item clearfix'><img alt='{imageTitle}' src='{src}' full_src='{full_src}' class='image-section'><span class='list-item-content'>{content}</span><span class='info' ></span></li>";
            var  src     = "resources/images/"+data[index].image, //asa va fi json
                 full_src     = "resources/images/"+data[index].large_image, 
                 content      =  data[index].description["text"],
                 info         =  data[index].info,                    
                 extra        =  data[index].description.extra;   
                             
            listOptions  =  listOptions.replace("{src}",src).replace("{imageTitle}",content).replace("{full_src}",full_src).replace("{info",info).replace("{content}",content);                 
            searchResultsList.append(listOptions);
            searchResultsList.find('li').last().data({extraInfo: extra});
            searchResultsList.find('li').last().data({moreInfo:info});


-->


<!-- SEARCH RESULTS -->
 <div class="search-results hide">            
     <ul class="search-results-list clearfix"> 
         <li ng-repeat="searchItem in searchListOptions" class="list-item clearfix">
              <!--<img src="{{searchItem.image}}"  class="image-section" /> -->
              <!--<span class='list-item-content'>{{searchItem.description.text}}</span><span class='info' >{{searchItem.info}}</span>-->
             search item
          </li>
      </ul>    
 </div>
<!-- END SEARCH RESULTS -->  