<div class="row">
    <div class="social-widget facebook-widget" ui-view="facebook-view">                
            <i class="fa fa-2x fa-facebook social-icon"> </i>                  
            <span class="counter-section" id="noOfLike">
                 156K
            </span>                 
            <a class="follow" href="#">
                Follow <i class="fa fa fa-plus"></i>
            </a>
    </div>
</div>  
<div class="row">
    <div class="social-widget twitter-widget" ui-view="twitter-view">
            <i class="fa fa-2x fa-twitter social-icon"> </i>                
            <span class="counter-section" id="noOfTweets"> 
                  89K
            </span>                
            <a class="follow" href="#">
                   Followed <i class="fa fa-x fa-check-circle"></i>
            </a>
    </div>    
</div>    
      
